.DS_Store
.AppleDouble
.LSOverride
_bk

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

package-lock.json
.sass-cache
.idea/*
node_modules/
bower_components/
build/*.min.css
build/*.min.css.map
build/*.min.js

composer.lock
vendor/

.php_cs.cache

config.php